button{
    padding: 25px 25px;
    font-family: sans-serif;
    background-color:beige;
    border-radius: 7px;
}

body{
    overflow-x: hidden;
    background-color: #efefef;
}

input[type=range]{
    display: block;
    border-radius: 7px;
}

#sliders{
    position: relative;
    left: 570px;
    bottom: 60px;
}

label{
    font-family: sans-serif;
}

#inputs {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    bottom: 40px;
}

#info{
    position: absolute;
    font-family: sans-serif;
    left: 750px;
    top: 0%;
}
